.idea
target
iofog-agent.iml
.project
**/build
**/out
.gradle
packaging/iofog-agent/usr/bin/*.jar
.classpath
.settings
iofog-agent-daemon/bin
iofog-agent-client/bin
iofog-version-controller/bin
.vscode
bats-core